
.c-error {
    background-color: #FFEFEF;
}

.c-success {
    background-color: #EFF1FF;
}

.c-green {
    color:green;
}

.c-red {
    color:red;
}

.div-mat-icon {
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

.class-mat-icon {
    width: 50%;
    height: 1em;
    font-size: 4em;
}

.mdc-dialog__actions {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    min-height: 52px;
    margin: 0;
    padding: 8px;
    border-top: 1px solid rgba(0,0,0,0);
    flex-direction: column;
}