<div class="div-steps">
    <button class="bt-steps" (click)="irParaEtapa(1)">
        <div *ngIf="stepModal == 1" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="primary">done</mat-icon>
        </div>
        <div *ngIf="stepModal > 1" class="div-mat-icon">
            <mat-icon class="class-mat-icon c-green">done_all</mat-icon>
        </div>
        {{this.dicionario.formulario.etapa1}}
    </button>
    /
    <button class="bt-steps" (click)="irParaEtapa(2)" [disabled]="stepModal<2">
        <div *ngIf="stepModal < 2" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="warn">highlight_off</mat-icon>
        </div>
        <div *ngIf="stepModal == 2" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="primary">done</mat-icon>
        </div>
        <div *ngIf="stepModal > 2" class="div-mat-icon">
            <mat-icon class="class-mat-icon c-green">done_all</mat-icon>
        </div>
        {{this.dicionario.formulario.etapa2}}
    </button>
    /
    <button class="bt-steps" (click)="irParaEtapa(3)" [disabled]="stepModal<3">
        <div *ngIf="stepModal < 3" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="warn">highlight_off</mat-icon>
        </div>
        <div *ngIf="stepModal == 3" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="primary">done</mat-icon>
        </div>
        <div *ngIf="stepModal > 3" class="div-mat-icon">
            <mat-icon class="class-mat-icon c-green">done_all</mat-icon>
        </div>
        {{this.dicionario.formulario.etapa3}}
    </button>
    /
    <button class="bt-steps" (click)="irParaEtapa(4)" [disabled]="stepModal<4">
        <div *ngIf="stepModal < 4" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="warn">highlight_off</mat-icon>
        </div>
        <div *ngIf="stepModal == 4" class="div-mat-icon">
            <mat-icon class="class-mat-icon" color="primary">done</mat-icon>
        </div>
        <div *ngIf="stepModal > 4" class="div-mat-icon">
            <mat-icon class="class-mat-icon c-green">done_all</mat-icon>
        </div>
        {{this.dicionario.formulario.etapaResumo}}
    </button>
</div>
<mat-toolbar>
    <div class="background">
        <form [formGroup]="formUsuario" novalidate>
        <div class="step" *ngIf="step === 1">
            <div class="title-step">
                <h4>{{this.dicionario.formulario.etapa1}}</h4>
                <p class="card-text">{{this.dicionario.formulario.etapa1Descricao}}</p>
            </div>
            <mat-form-field class="w-95-p">
                <mat-label>{{this.dicionario.labelTitulo.cep}}</mat-label>
                <input mask="00000-000" matInput formControlName="cep" required>
            </mat-form-field>
            <app-div-errors *ngIf="verifcaNaoPreenchido('cep')" [labelError] = 'dicionario.label.error.cep.nao_preenchido'></app-div-errors>
            <app-div-errors *ngIf="verificaInvalido('cep')" [labelError] = 'dicionario.label.error.cep.invalido'></app-div-errors>
            <mat-divider></mat-divider>
            <button class="w-95-p" mat-raised-button color="primary" (click)="verificaCEP()" [disabled]="!formUsuario.controls['cep'].valid">{{this.dicionario.formulario.etapa1Botao}}</button>
        </div>
        <div class="step" *ngIf="step === 2">
            <div class="title-step">
                <h4>{{this.dicionario.formulario.etapa2}}</h4>
                <p>{{this.dicionario.formulario.etapa2Descricao}}</p>
            </div>
            <div class="card-wrapper">
                <mat-card *ngFor="let item of planosDisponiveis">
                    <mat-card-header [ngClass]="{'c-back-green' : planoEscolhido !== undefined && planoEscolhido.id === item.id}">
                        <mat-card-title>{{item.nome}}</mat-card-title>
                        <mat-card-subtitle>{{item.velocidade}}</mat-card-subtitle>
                        <mat-card-subtitle>R$ {{item.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions [ngClass]="{'c-back-green' : planoEscolhido !== undefined && planoEscolhido.id === item.id}">
                        <button mat-raised-button *ngIf="planoEscolhido === undefined" (click)="queroEssePlano(item)" color="primary">{{this.dicionario.labelGeral.queroEsse}}</button>
                        <button mat-raised-button *ngIf="planoEscolhido !== undefined && planoEscolhido.id !== item.id" (click)="queroEssePlano(item)" color="primary">{{this.dicionario.labelGeral.queroEsse}}</button>
                        <button mat-raised-button *ngIf="planoEscolhido !== undefined && planoEscolhido.id === item.id" (click)="cancelaEscolhaPlano()" color="warn">{{this.dicionario.labelGeral.cancelar}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="title-step">
                <h4>{{this.dicionario.formulario.etapa2Pacotes}}</h4>
                <p>{{this.dicionario.formulario.etapa2PacotesDescricao}}</p>
            </div>
            <div class="card-wrapper">
                <mat-card *ngFor="let item of pacotesDisponiveis">
                    <mat-card-header [ngClass]="{'c-back-green' : pacoteEscolhido !== undefined && pacoteEscolhido.id === item.id}">
                        <mat-card-title>{{item.nome}}</mat-card-title>
                        <mat-card-subtitle>R$ {{item.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions [ngClass]="{'c-back-green' : pacoteEscolhido !== undefined && pacoteEscolhido.id === item.id}">
                        <button mat-raised-button *ngIf="pacoteEscolhido === undefined" (click)="queroEssePacote(item)" color="primary">{{this.dicionario.labelGeral.queroEsse}}</button>
                        <button mat-raised-button *ngIf="pacoteEscolhido !== undefined && pacoteEscolhido.id !== item.id" (click)="queroEssePacote(item)" color="primary">{{this.dicionario.labelGeral.queroEsse}}</button>
                        <button mat-raised-button *ngIf="pacoteEscolhido !== undefined && pacoteEscolhido.id === item.id" (click)="cancelaEscolhaPacote()" color="warn">{{this.dicionario.labelGeral.cancelar}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <button class="w-95-p" mat-raised-button color="primary" (click)="escolheuPlanosPacotes()" [disabled]="verificaPlanoEscolhidoUndefined()">{{this.dicionario.formulario.etapa2Botao}}</button>
        </div>
        <div class="step" *ngIf="step === 3">
            <div class="title-step">
                <h4>{{this.dicionario.formulario.etapa3}}</h4>
                <p>{{this.dicionario.formulario.etapa3Descricao}}</p>
            </div>
                <div class="d-flex">
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.nome}}</mat-label>
                        <input matInput formControlName="nome" minlength="3" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-25">
                        <mat-label>{{this.dicionario.labelTitulo.cpf}}</mat-label>
                        <input mask="000.000.000-00" matInput formControlName="cpf" minlength="11" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-25">
                        <mat-label>{{this.dicionario.labelTitulo.rg}}</mat-label>
                        <input mask="00.000.000" matInput formControlName="rg" minlength="8" required>
                    </mat-form-field>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('nome')" [labelError] = 'dicionario.label.error.nome.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('nome')" [labelError] = 'dicionario.label.error.nome.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('cpf')" [labelError] = 'dicionario.label.error.cpf.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('cpf')" [labelError] = 'dicionario.label.error.cpf.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('rg')" [labelError] = 'dicionario.label.error.rg.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('rg')" [labelError] = 'dicionario.label.error.rg.invalido'></app-div-errors>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.data_nascimento}}</mat-label>
                        <input mask="00/00/0000" matInput formControlName="data_nascimento" minlength="8" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.telefone}}</mat-label>
                        <input mask="(00) 0 0000-0000" matInput formControlName="telefone" minlength="11" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.telefone_secundario}}</mat-label>
                        <input mask="(00) 0 0000-0000" matInput formControlName="telefone_secundario">
                    </mat-form-field>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('data_nascimento')" [labelError] = 'dicionario.label.error.data_nascimento.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('data_nascimento')" [labelError] = 'dicionario.label.error.data_nascimento.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('telefone')" [labelError] = 'dicionario.label.error.telefone.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('telefone')" [labelError] = 'dicionario.label.error.telefone.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('telefone_secundario')" [labelError] = 'dicionario.label.error.telefone_secundario.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('telefone_secundario')" [labelError] = 'dicionario.label.error.telefone_secundario.invalido'></app-div-errors>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.email}}</mat-label>
                        <input matInput formControlName="email" email required>
                    </mat-form-field>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('email')" [labelError] = 'dicionario.label.error.email.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('email')" [labelError] = 'dicionario.label.error.email.invalido'></app-div-errors>
                </div>
                <div class="title-step">
                    <h4>{{this.dicionario.formulario.etapa3Agora}}</h4>
                    <p>{{this.dicionario.formulario.etapa3AgoraDescricao}}</p>
                </div>
                <div class="d-flex">
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.endereco}}</mat-label>
                        <input matInput formControlName="endereco" minlength="5" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.bairro}}</mat-label>
                        <input matInput formControlName="bairro" minlength="2" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.numero}}</mat-label>
                        <input matInput formControlName="numero" minlength="1" maxlength="6" min="1" max="999999" step="1" type="number" required>
                    </mat-form-field>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('endereco')" [labelError] = 'dicionario.label.error.endereco.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('endereco')" [labelError] = 'dicionario.label.error.endereco.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('bairro')" [labelError] = 'dicionario.label.error.bairro.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('bairro')" [labelError] = 'dicionario.label.error.bairro.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('numero')" [labelError] = 'dicionario.label.error.numero.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('numero')" [labelError] = 'dicionario.label.error.numero.invalido'></app-div-errors>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.complemento}}</mat-label>
                        <input matInput formControlName="complemento">
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.referencia}}</mat-label>
                        <input matInput formControlName="referencia">
                    </mat-form-field>
                </div>
                <div class="title-step">
                    <h4>{{this.dicionario.formulario.etapa3Finalizar}}</h4>
                    <p>{{this.dicionario.formulario.etapa3FinalizarDescricao}}</p>
                </div>
                <div class="d-flex">
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.nome_pai}}</mat-label>
                        <input matInput formControlName="nome_pai">
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.nome_mae}}</mat-label>
                        <input matInput formControlName="nome_mae">
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.estado_civil}}</mat-label>
                        <mat-select formControlName="estado_civil">
                            <mat-option value="Solteiro">{{this.dicionario.labelGeral.estado_civil.solteiro}}</mat-option>
                            <mat-option value="Casado">{{this.dicionario.labelGeral.estado_civil.casado}}</mat-option>
                            <mat-option value="Separado">{{this.dicionario.labelGeral.estado_civil.separado}}</mat-option>
                            <mat-option value="Divorciado">{{this.dicionario.labelGeral.estado_civil.divorciado}}</mat-option>
                            <mat-option value="Viuvo">{{this.dicionario.labelGeral.estado_civil.viuvo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.genero}}</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option value="Masculino">{{this.dicionario.labelGeral.genero.masculino}}</mat-option>
                            <mat-option value="Feminino">{{this.dicionario.labelGeral.genero.feminino}}</mat-option>
                            <mat-option value="Outro">{{this.dicionario.labelGeral.genero.outro}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.nacionalidade}}</mat-label>
                        <mat-select formControlName="nacionalidade">
                            <mat-option value="Brasileiro">{{this.dicionario.labelGeral.nacionalidade.brasileiro}}</mat-option>
                            <mat-option value="Estrangeiro">{{this.dicionario.labelGeral.nacionalidade.estrangeiro}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.profissao}}</mat-label>
                        <input matInput formControlName="profissao">
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.vendedor}}</mat-label>
                        <input matInput formControlName="vendedor" minlength="3" required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.dia_vencimento}}</mat-label>
                        <input matInput formControlName="dia_vencimento" minlength="1" maxlength="2" min="1" max="31" step="1" type="number" required>
                    </mat-form-field>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('vendedor')" [labelError] = 'dicionario.label.error.vendedor.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('vendedor')" [labelError] = 'dicionario.label.error.vendedor.invalido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verifcaNaoPreenchido('dia_vencimento')" [labelError] = 'dicionario.label.error.dia_vencimento.nao_preenchido'></app-div-errors>
                    <app-div-errors class="cadastro-100" *ngIf="verificaInvalido('dia_vencimento')" [labelError] = 'dicionario.label.error.dia_vencimento.invalido'></app-div-errors>
                    <mat-form-field class="cadastro-100">
                        <mat-label>{{this.dicionario.labelTitulo.observacao}}</mat-label>
                        <input matInput formControlName="observacao">
                    </mat-form-field>
                </div>
            <mat-divider></mat-divider>
            <button class="w-95-p" mat-raised-button color="primary" (click)="resumoDaCompra()" [disabled]="!formUsuario.valid">{{this.dicionario.formulario.etapa3Botao}}</button>
        </div>
        </form>
        <div class="step" *ngIf="step === 4">
            <div class="title-step">
                <h4>{{this.dicionario.formulario.etapaResumoVerificar}}</h4>
            </div>
            <form [formGroup]="formUsuario" novalidate>
                <div class="d-flex">
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.nome}}</mat-label>
                        <input matInput formControlName="nome" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-25">
                        <mat-label>{{this.dicionario.labelTitulo.cpf}}</mat-label>
                        <input mask="000.000.000-00" matInput formControlName="cpf" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-25">
                        <mat-label>{{this.dicionario.labelTitulo.rg}}</mat-label>
                        <input mask="00.000.000" matInput formControlName="rg" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.data_nascimento}}</mat-label>
                        <input mask="00/00/0000" matInput formControlName="data_nascimento" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.telefone}}</mat-label>
                        <input mask="(00) 0 0000-0000" matInput formControlName="telefone" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.telefone_secundario}}</mat-label>
                        <input mask="(00) 0 0000-0000" matInput formControlName="telefone_secundario" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.email}}</mat-label>
                        <input matInput formControlName="email" readonly required>
                    </mat-form-field>
                </div>
                <div class="d-flex">
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.endereco}}</mat-label>
                        <input matInput formControlName="endereco" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.bairro}}</mat-label>
                        <input matInput formControlName="bairro" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.numero}}</mat-label>
                        <input matInput formControlName="numero" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.complemento}}</mat-label>
                        <input matInput formControlName="complemento" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.referencia}}</mat-label>
                        <input matInput formControlName="referencia" readonly>
                    </mat-form-field>
                </div>
                <div class="d-flex">
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.nome_pai}}</mat-label>
                        <input matInput formControlName="nome_pai" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.nome_mae}}</mat-label>
                        <input matInput formControlName="nome_mae" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.estado_civil}}</mat-label>
                        <input matInput formControlName="estado_civil" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.genero}}</mat-label>
                        <input matInput formControlName="genero" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.nacionalidade}}</mat-label>
                        <input matInput formControlName="nacionalidade" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-33">
                        <mat-label>{{this.dicionario.labelTitulo.profissao}}</mat-label>
                        <input matInput formControlName="profissao" readonly>
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.vendedor}}</mat-label>
                        <input matInput formControlName="vendedor" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-50">
                        <mat-label>{{this.dicionario.labelTitulo.dia_vencimento}}</mat-label>
                        <input matInput formControlName="dia_vencimento" readonly required>
                    </mat-form-field>
                    <mat-form-field class="cadastro-100">
                        <mat-label>{{this.dicionario.labelTitulo.observacao}}</mat-label>
                        <input matInput formControlName="observacao" readonly>
                    </mat-form-field>
                </div>
            </form>
            <mat-divider></mat-divider>
            <div class="card-wrapper-fim">
                <mat-card *ngIf="planoEscolhido !== undefined">
                    <mat-card-header class="c-back-green">
                        <mat-card-title>{{planoEscolhido.nome}}</mat-card-title>
                        <mat-card-subtitle>{{planoEscolhido.velocidade}}</mat-card-subtitle>
                        <mat-card-subtitle>R$ {{planoEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="card-wrapper-fim">
                <mat-card *ngIf="pacoteEscolhido !== undefined">
                    <mat-card-header class="c-back-green">
                        <mat-card-title>{{pacoteEscolhido.nome}}</mat-card-title>
                        <mat-card-subtitle>R$ {{pacoteEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="card-wrapper-fim">
                <mat-card *ngIf="planoEscolhido !== undefined && pacoteEscolhido === undefined">
                    <mat-card-header>
                        <mat-card-title>{{this.dicionario.labelGeral.valorFinal}}</mat-card-title>
                        <mat-card-subtitle>R$ {{planoEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card *ngIf="planoEscolhido !== undefined && pacoteEscolhido !== undefined">
                    <mat-card-header>
                        <mat-card-title>{{this.dicionario.labelGeral.valorFinal}}</mat-card-title>
                        <mat-card-subtitle>R$ {{planoEscolhido.valor+pacoteEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <button class="w-95-p" mat-raised-button color="primary" (click)="salvar()" [disabled]="!formUsuario.valid">{{this.dicionario.formulario.etapaResumoBotao}}</button>
        </div>
    </div>
</mat-toolbar>