<mat-toolbar>
    <div class="background">
        <div class="step" *ngIf="step === 1">
            <mat-form-field>
                <mat-label>CEP</mat-label>
                <input mask="00000-000" matInput [(ngModel)]="cep">
            </mat-form-field>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="verificaCEP()" [disabled]="this.cep.length < 8">Verificar CEP</button>
        </div>
        <div class="step" *ngIf="step === 2">
            <div class="card-wrapper">
                <mat-card *ngFor="let item of planosDisponiveis">
                    <mat-card-header>
                        <mat-card-title>{{item.nome + " | " + item.velocidade}}</mat-card-title>
                        <mat-card-subtitle>R$ {{item.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-raised-button *ngIf="planoEscolhido === undefined" (click)="queroEssePlano(item)" color="primary">Quero esse!</button>
                        <button mat-raised-button *ngIf="planoEscolhido !== undefined && planoEscolhido.id !== item.id" (click)="queroEssePlano(item)" color="primary">Quero esse!</button>
                        <button mat-raised-button *ngIf="planoEscolhido !== undefined && planoEscolhido.id === item.id" (click)="cancelaEscolhaPlano()" color="warn">Cancelar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <div class="card-wrapper">
                <mat-card *ngFor="let item of pacotesDisponiveis">
                    <mat-card-header>
                        <mat-card-title>{{item.nome}}</mat-card-title>
                        <mat-card-subtitle>R$ {{item.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-raised-button *ngIf="pacoteEscolhido === undefined" (click)="queroEssePacote(item)" color="primary">Quero esse!</button>
                        <button mat-raised-button *ngIf="pacoteEscolhido !== undefined && pacoteEscolhido.id !== item.id" (click)="queroEssePacote(item)" color="primary">Quero esse!</button>
                        <button mat-raised-button *ngIf="pacoteEscolhido !== undefined && pacoteEscolhido.id === item.id" (click)="cancelaEscolhaPacote()" color="warn">Cancelar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="escolheuPlanosPacotes()">Fazer Cadastro</button>
        </div>
        <div class="step" *ngIf="step === 3">
            <mat-form-field class="input-step">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="nome">
            </mat-form-field>
            <mat-form-field class="input-step">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email">
            </mat-form-field>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="resumoDaCompra()">Ver resumo da compra</button>
        </div>
        <div class="step" *ngIf="step === 4">
            <mat-form-field class="input-step">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="nome" disabled>
            </mat-form-field>
            <mat-form-field class="input-step">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" disabled>
            </mat-form-field>
            <mat-form-field class="input-step">
                <mat-label>CEP</mat-label>
                <input matInput [(ngModel)]="cep" disabled>
            </mat-form-field>
            <mat-divider></mat-divider>
            <div class="card-wrapper-fim">
                <mat-card *ngIf="planoEscolhido !== undefined">
                    <mat-card-header>
                        <mat-card-title>{{planoEscolhido.nome + " | " + planoEscolhido.velocidade}}</mat-card-title>
                        <mat-card-subtitle>R$ {{planoEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="card-wrapper-fim">
                <mat-card *ngIf="pacoteEscolhido !== undefined">
                    <mat-card-header>
                        <mat-card-title>{{pacoteEscolhido.nome}}</mat-card-title>
                        <mat-card-subtitle>R$ {{pacoteEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <div class="card-wrapper-fim">
                <mat-card *ngIf="planoEscolhido !== undefined && pacoteEscolhido === undefined">
                    <mat-card-header>
                        <mat-card-title>Valor Final</mat-card-title>
                        <mat-card-subtitle>R$ {{planoEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card *ngIf="planoEscolhido !== undefined && pacoteEscolhido !== undefined">
                    <mat-card-header>
                        <mat-card-title>Valor Final</mat-card-title>
                        <mat-card-subtitle>R$ {{planoEscolhido.valor+pacoteEscolhido.valor}} mensais</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        </div>
    </div>
</mat-toolbar>